
/* Coding With Nick */
@charset "utf-8";

/* 1. Font */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

/* 2. Body */
* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'Marcellus', serif;
    font-size: 0.875rem;
    line-height: 23px;
    font-weight: 400;
    background: #fff;
    color: #1e1e27;
}
div {
    display: block;
    position: relative;
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin-bottom: 0;
}
p {
    font-family: 'Marcellus', serif;
    font-size: 0.875rem;
    line-height: 1.7;
    font-weight: bold;
    color: #989898;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 2px #fde0db;
    transition: all 0.2s ease;
}
a, a:hover, a:active, a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
p a:active {
    position: relative; 
    color: #ff6347;

}
p a:hover {
    color: #ff6347;
    background: #fde0db;
}
p a:hover::after {
    opacity: 0.2;
}
::selection {
    background: #fde0db;
    color: #ff6347;
}
p::selection {
    background: #fde0db;
}
h1 {font-size: 4.5rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 1.75rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1rem;}
h6 {font-size: 0.875rem;}

h1, h2, h3, h4, h5, h6 {
    color: #282828;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.trans_300 {
    transition: all 300ms ease;
}
::input-placeholder {
    font-size: 1rem !important;
    font-weight: bolder;
    color: #777;
}
.clearfix::before, .clearfix::after {
    content: "";

}
.clearfix::after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
.super_container {
    width: 100%;
    overflow: hidden;
}
.fill_height {
    height: 100%;
    
}
/* 3. Home */
.header {
    position: fixed;     
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 10;

}
/* 3.1 Navigation */
.main_nav_container {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.015);
}
.navbar {
    width: auto;
    height: 100px;
    float: right;
    padding-left: 0;
    padding-right: 0;
}
.navbar_menu li {
    display: inline-block;
}
.navbar_menu li a {
    display: block;
    color: #1e1e27;
    font-size: 0.813rem;
    text-transform: uppercase;
    padding: 20px;
    transition: color 0.3s ease;
}
.navbar_menu li a:hover {
    color: #b5aec4;
}
.navbar_user {
    margin-left: 37px;
}
.navbar_user li {
    display: inline-block;
    text-align: center;
}
.navbar_user li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    color: #1e1e27;
    transition:  color 0.3s ease;
}
.navbar_user li a:hover {
    color: #b5aec4;
}

.checkout {
    color: #b5aec4;
}
.checkout a {
    background: #eceff6;
    border-radius: 50%;
}
.checkout_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    left: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fe4c50;
    font-size: 0.75rem;
    color: #fff;
}
/* Hamburger with bug */
/* .hamburger_container {
    margin-left: 40px;
}
.hamburger_container i {
    font-size: 24px;
    color: #1e1e27;
    transition: all 300ms ease;
    visibility: hidden;
    opacity: 0;
}
.hamburger_container:hover i{
    color: #b5aec4
}
.hamburger_menu{
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background: rgba(255,255,255,0.95);
    transition: all 300ms ease;
    z-index: 10;
}
.hamburger_menu {
    right:0;
} */


/* 3.2 Logo Container */
.logo_container {
    position: absolute;
    top: 50%;
    transform: translateY(-50% );
    left: 15px;
}
.logo_container a {
    font-size: 1.25rem;
    color: #1e1e27;
    font-weight: bolder;
    text-transform: uppercase;
}
.logo_container a span {
    color: #fe4c50;
    padding-left: 2px;
}
/* 3.3 Main Slider */
.main_slider { 
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 100px;
}
.main_slider_content {
    /* margin-top: 20%; */
    width: 60%;
}
.main_slider_content h6 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 29px;
}
.main_slider_content h1 {
    font-weight: 400;
    line-height: 1;
}
.red_button {
    /* margin-top: 30px; */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: #fe4c50;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.red_button a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    width: 100%;
    /* padding-left: 25px;
    padding-right: 25px; */
}
.red_button:hover {
    background: #fe7c7f;
}
.shop_now_button {
    width: 140px;
    margin-top: 32px;
}
/* 4. Banner */

.banner {
    width: 100%;
    margin-top: 30px;
}
.banner_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner_category {
    height: 50px;
    background: #fff;
    min-width: 180px;
    padding-left: 25px;
    padding-right: 25px;
}
.banner_category a {
    display: block;
    color: #1e1e27;
    text-transform: uppercase;
    font-size: 1.375rem;
    font-weight: bolder;
    text-align: center;
    line-height: 50px;
    width: 100%;
}
.banner_category a:hover {
    color: #b5aec4
}
/* 5. New Arrival */

.new_arrivals {
    width: 100%;  
}
.new_arrivals_title {
    margin-top: 74px;
}
.new_arrivals_sorting {
    display: inline-block;
    border-radius: 3px;
    margin-top: 59px;
    overflow: visible;
}
.grid_sorting_button {
    height: 40px;
    min-width: 102px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    border: solid 1px #ebebeb;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    background: #fff;
    border-radius: 3px;
    margin:0;
    float: left;
    margin-left: -1px;
}
.grid_sorting_button:first-child {
    margin-left: 0px;
}
.grid_sorting_button.active {
    color: #fff;
    background: #fe4c50;
}
.grid_sorting_button.active:hover {
    background: #fe7c7f !important;
}
/* 5.2 New Arrival Product Grid */
.product-grid {
    width:100%;
    margin-top: 57px;
}
.product-item {
    width: 20%;
    height: 380px;
    cursor: pointer;
}
.product-item::after {
    display: block;
    position: absolute;
    top: 0;
    left: -1px;
    width: calc(100% + 1px);
    height: 100%;
    pointer-events: none;
    content: "";
    border: solid 2px rgba(235, 235, 235, 0);
    border-radius: 3px;
    transition: all 0.3s ease;
}
.product-item:hover::after {
    box-sizing: 0 25px 29px rgba(63, 78, 100, 0.15);
    border: solid 2px rgba(235, 235, 235, 1);
}
.product {
    width: 100%;
    height: 340px;
    border-right: solid 1px #e9e9e9;
}
.product_image {
    width: 100%;
}
.product_image img {
    width: 100%;
}
.product_info {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.product_name {
    margin-top: 27px;
}
.product_name a {
    color: #1e1e27;
    line-height: 20px;
}
.product_name:hover a{
    color: #b5aec4;
}
.discount .product_info .product_price {
    font-size: 0.875rem;
}
.product_price {
    font-size: 1rem;
    color: #fe4c50;
    font-weight: bolder;
}
.product_price span {
    font-size: 0.75rem;
    margin-left: 10px;
    color: #b5aec4;
    text-decoration: line-through;
}
.product_bubble {
    position: absolute;
    top: 15px;
    width: 50px;
    width: 50px;
    height: 22px;
    border-radius: 3px;
    text-transform: uppercase;
}
.product_bubble span {
    font-size: 0.75rem;
    font-weight: bold;
    color: #fff;
}
.product_bubble_right::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 6px;
    right: auto;
    top: auto;
    bottom: -6px;
    border: 6px solid;
}
.product_bubble_left::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 6px;
    top: auto;
    bottom: -6px;
    border: 6px solid;
}
.product_bubble_red::after {
    border-color: transparent transparent transparent #fe4c50
}
.product_bubble_left::after {
    border-color: #51a042 #51a042 transparent transparent;
}
.product_bubble_red {
    background: #fe4c50;
}
.product_bubble_green {
    background: #51a042;
}
.product_bubble_left {
    left: 15px;
}
.product_bubble_right {
    right: 15px;
}
.add_to_cart_button {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.add_to_cart_button a{
    font-size: 0.75rem;

}
.product-item:hover .add_to_cart_button {
    visibility: visible;
    opacity: 1;
}
.favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #b9b4c7;
    width: 17px;
    height: 17px;
    visibility: hidden;
    opacity: 0;
}
.favorite_left {
    left: 15px;
}
.favorite.active {
    visibility: visible;
    opacity: 1;
}
.product-item:hover .favorite {
    visibility: visible;
    opacity: 1;
}
.favorite.active::after {
    font-family: 'FontAwesome';
    content: '\f004';
    color: #fe4c50;

}
.favorite::after {
    font-family: 'FontAwesome';
    content: '\f08a';

}
.favorite:hover::after {
    color: #fe4c50;
}

/* 6. Deal of the Week */
.deal_ofthe_week {
    width: 100%;
    margin-top: 41px;
    background: #f2f2f2;
}
.deal_ofthe_week_img {
    height: 540px;

}
.deal_ofthe_week_img img {
    height: 100%;
}
.deal_ofthe_week_content {
    height: 100%;

}
.section_title {
    display: inline-block;
    text-align: center;

}
.section_title h2 {
    display: inline-block;
}
.section_title::after {
    display: block;
    position: absolute;
    top: calc(100% + 13px);
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background: #fe4c50;
    content: "";
}
.timer {
    margin-top: 66px;

}
.timer li {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
}
.timer li:last-child {
    margin-right: 0px
}
.timer_num {
    font-size: 3rem;
    font-weight: bold;
    color: #fe4c50;
    margin-top: 10px;
}  
.timer_unit {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
    color: #51545f;
}
.deal_ofthe_week_button {
    width: 140px;
    background: #1e1e27 ;
    margin-top: 52px;
}
.deal_ofthe_week_button:hover {
    background: #67676d !important;
}
/* 7. Best Sellers */
.product_slider_container {
    width: 100%;
    height: 340px;
    margin-top: 73px;
}
.product_slider_container::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #fff;
    content: "";
    z-index: 1;
}
.product_slider {
    overflow: visible !important;
}
.product_slider_item .product-item {
    height: 340;
}
.product_slider_item {
    width: 20%;
}
.product_slider_item .product-item {
    width: 100% !important;
}
/* 7.1 Slider Navigation */
.product_slider_nav {
    position: absolute;
    width: 30px;
    height: 70px;
    background: #d3d3d6;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;

}
.product_slider_container:hover .product_slider_nav {
    visibility: visible;
    opacity: 1;
}
.product_slider_nav i {
    color: #fff;
    font-size: 0.75rem;

}
.product_slider_nav_left {
    top: 50%;
    left: 0;
}
.product_slider_nav_right {
    top: 50%;
    right: 0;
}

/* 8. Benefits */
.benefit {
    margin-top: 74px;

}
.benefit_row {
    padding-left: 15px;
    padding-right: 15px;
}
.benefit_col {
    padding-left: 0;
    padding-right: 0;
}
.benefit_item {
    height: 100px;
    background: #f3f3f3;
    border-right: solid 1px #fff;
    padding-left: 25px;
}
.benefit_col:last-child .benefit_item {
    border-right: none;
}
.benefit_icon i {
    font-size: 30px;
    color: #f34c50;
}
.benefit_content {
    padding-left: 22px;
}
.benefit_content h6 {
    text-transform: uppercase;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 0;    
}
.benefit_content p {
    font-size: .75rem;
    line-height: 18px;
    margin-bottom: 0;
    color: #51545f;
}
/* 9. Blogs */
.blogs {
    margin-top: 72px;
}
.blogs_container {
    margin-top: 53px;
}
.blog_item {
    height: 255px;
    width: 100%;
}
.blog_background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.blog-content {
    position: absolute;
    top: 30px;
    left: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    background: rgba(255, 255, 255, 0.9);
    padding-left: 10px;
    padding-right: 10px;
    visibility: hidden;
    opacity: 0;
    transform-origin: center center;
    transform: scale(0.7);
    transition: all 300ms ease;
}
.blog_item:hover .blog-content {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.blog_title {
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 0;
}
.blog_meta {
    font-size: 0.75rem;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #51545f;
    margin-bottom: 0;
    margin-top: 3px;
    letter-spacing: 1px;
}
.blog_more {
    font-size: 0.875rem;
    line-height: 15px;
    font-weight: 500;
    color: #fe4c50;
    border-bottom: solid 1px #fe4c50;
    margin-top: 12px;
}
.blog_more:hover {
    color: #fe7c7f;
}

/* 10. Newsletter */
.newsletter {
    width: 100%;
    background: #f2f2f2;
    margin-top: 81px;
}
.newsletter_text {
    height: 120px;
}
.newsletter_text h4 {
    margin-bottom: 0;
    line-height: 24px;
}
.newsletter_text p {
    margin-bottom: 0;
    line-height: 1.7;
    color: #51545f;
}
.newsletter_form {
    height: 120px;
}
#newsletter_email {
    width: 300px;
    height: 46px;
    background: #fff;
    border: none;
    padding-left: 20px;
}
.newsletter_email:focus {
    border: solid 1px #7f7f7f !important;
    box-shadow: none !important;

}
:focus {
    outline: none !important;
}
#newsletter_email::-webkit-input-placeholder {
    font-size: 0.75rem !important;
    color: #b9b4c7 !important;
}
#newsletter_email::input-placeholder {
    font-size: 0.75rem !important;
    color: #b9b4c7 !important;
}
.newsletter_submit_btn {
    width: 160px;
    height: 46px;
    border: none;
    background: #fe4c50;
    color: #fff;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
.newsletter_submit_btn:hover {
    background: #fe7c7f;
}

/* 11. Footer */
.footer_nav_container {
    height: 130px;
}
.cr {
    margin-right: 48px;
}
.footer_nav li {
    display: inline-block;
    margin-right: 45px;
}
.footer_nav li:last-child {
    margin-right: 0;
}
.footer_nav li a, .cr {
    font-size: 0.875rem;
    color: #51545f;
    line-height: 30px;
    transition: all 300ms ease;
}
.footer_nav li a:hover, .cr a, .cr i {
    color: #fe4c50;
}
.footer_social {
    height: 130px;
}
.footer_social ul li {
    display: inline-block;
    margin-right: 10px;
}
..footer_social ul li:last-child {
    margin-right: 0;
}
.footer_social ul li a {
    color: #51545f;
    transition: all 300ms ease;
    padding: 10px;
}
.footer_social ul li:last-child a {
    padding-right: 0;
}
.footer_social ul li a:hover {
    color: #fe4c50;
}
.owl-carousel {
    -ms-touch-action: none;
    touch-action: none;
    }

/* **************************Responsive************************************************ */


@media only screen and (max-width: 1199px){
    .main_slider {
        min-height: 475px;
        height: calc(100vw / 1.714)
    }
    .main_slider_content {
        width: 80%;
    }
    .banner_item {
        height: 220px;
    }
    .product-item {
        height: 400px;
        
    }
    .timer li {
        width: 90px;
        height: 90px;
    }
    .timer_num {
        font-size: 2.25rem;
        font-weight: bold;
    }
    .blog_title {
        font-size: 1.25rem;
    }
    

}

@media only screen and (max-width: 991px){
    h1 {font-size: 3rem;}
    h2 {font-size: 2.25rem;}
    
    .main_slider_content {
        margin-bottom: 23px;
    }
    .show_now_button {
        margin-top: 26px;
    }
    .grid-item {
        width: 25%;
    }
    .navbar_menu {
        display: none;
    }
    /* .hambuger_container {
        display: block;
    } */
    .main_slider_content {
        width: 100%;
        padding-right: 15px;
    }
    .banner_item {
        height: 160px;
    }
    .banner_category {
        min-width: 160px;
    }
    .banner_category a {
        font-size: 1rem;
        line-height: 40px;
    }
    .product-item {
        width: 25%;
    }
    .deal_ofthe_week_col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .deal_ofthe_week_content {
        position: relative;
        top: auto;
        left: auto;
        height: auto;
    }
    .deal_ofthe_week_content .section_title h2{
        color: #fff;
        text-shadow: 2px 2px 10px #000;
    }
    .deal_ofthe_week_img {
        text-align: center;
    }
    .timer li {
        width: 70px;
        height: 70px;
    }
    .timer_num{
        font-size: 28px;
        font-weight: bold;
    }
    .benefit_col {
        margin-bottom: 30px;
    }
    .benefit_col:last-child {
        margin-bottom: 0;
    }
    .blog_item_col {
        margin-bottom: 30px;
    }
    .blog_item_col:last-child {
        margin-bottom: 0;
    }
    .blog_item {
        height: 440px;
    }
    .blog_title {
        height: 24px;
    }
    .newsletter_text {
        height: auto;
        margin-top: 30px;
    }
    .newsletter_text p {
        margin-top: 5px;
    }
    .footer_nav_container {
        height: auto;
        margin-top: 65px;
    }
    .footer-social {
        height: auto;
        margin-top: 20px;
        margin-bottom: 65px;
    }





}

@media only screen and (max-width: 767px){
    h1 {font-size: 36px;}
    h2 {font-size: 24px;}
    h3 {font-size: 12px;}

    .main_slider_content h6 {
        margin-bottom: 23px;
    }
    .shop_now_button {
        margin-top: 20px;
    }
    .red_button a {
        font-size: 12px;
    }
    .banner_item {
        margin-bottom: 30px;
        height: 210px;
    }
    .new_arrivals_title {
        margin-top: 44px;
    }
    .product_item {
        height: 345px;
        width: 33.3333333333%;

    }
    .product {
        height: 345px;
    }
    .grid_sorting_button {
        font-size: 13px;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 80px;
    }
    .product_slider_container {
        height: auto;
    }
    .product_slider_item .product_item {
        height: 380px;
    }
    .benefit-col {
        margin-bottom: 15px;
    }
    .blog_item {
        height: 372px;
    }
    .newsletter_form {
        margin-bottom: 40px;
    }
    .newsletter_submit_btn {
        margin-top: 15px;
    }




    
}
@media only screen and (max-width: 575px){
 
    .hamburger_menu {
        right: -100%;
        width: 100%;
    }





}

@media only screen and (max-width: 479px){
   






}

